@import url(//fonts.googleapis.com/css?family=Oswald);
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
/**
 * Solarized colors by Ethan Schoonover
 */
#pitchbox-reveal.reveal.solarized * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/

#pitchbox-reveal.reveal.solarized {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #657b83;
  background: #fdf6e3;
  background-color: #fdf6e3;  }

#pitchbox-reveal.reveal.solarized ::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

#pitchbox-reveal.reveal.solarized .slides > section, #pitchbox-reveal.reveal.solarized .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
#pitchbox-reveal.reveal.solarized h1, #pitchbox-reveal.reveal.solarized h2, #pitchbox-reveal.reveal.solarized h3, #pitchbox-reveal.reveal.solarized h4, #pitchbox-reveal.reveal.solarized h5, #pitchbox-reveal.reveal.solarized h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: 'Oswald', Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

#pitchbox-reveal.reveal.solarized h1 {
  font-size: 3.77em; }

#pitchbox-reveal.reveal.solarized h2 {
  font-size: 2.11em; }

#pitchbox-reveal.reveal.solarized h3 {
  font-size: 1.55em; }

#pitchbox-reveal.reveal.solarized h4 {
  font-size: 1em; }

#pitchbox-reveal.reveal.solarized h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
#pitchbox-reveal.reveal.solarized p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
#pitchbox-reveal.reveal.solarized img, #pitchbox-reveal.reveal.solarized video, #pitchbox-reveal.reveal.solarized iframe {
  max-width: 95%;
  max-height: 95%; }

#pitchbox-reveal.reveal.solarized strong, #pitchbox-reveal.reveal.solarized b {
  font-weight: bold; }

#pitchbox-reveal.reveal.solarized em {
  font-style: italic; }

#pitchbox-reveal.reveal.solarized ol, #pitchbox-reveal.reveal.solarized dl, #pitchbox-reveal.reveal.solarized ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

#pitchbox-reveal.reveal.solarized ol {
  list-style-type: decimal; }

#pitchbox-reveal.reveal.solarized ul {
  list-style-type: disc; }

#pitchbox-reveal.reveal.solarized ul ul {
  list-style-type: square; }

#pitchbox-reveal.reveal.solarized ul ul ul {
  list-style-type: circle; }

#pitchbox-reveal.reveal.solarized ul ul, #pitchbox-reveal.reveal.solarized ul ol, #pitchbox-reveal.reveal.solarized ol ol, #pitchbox-reveal.reveal.solarized ol ul {
  display: block;
  margin-left: 40px; }

#pitchbox-reveal.reveal.solarized dt {
  font-weight: bold; }

#pitchbox-reveal.reveal.solarized dd {
  margin-left: 40px; }

#pitchbox-reveal.reveal.solarized q, #pitchbox-reveal.reveal.solarized blockquote {
  quotes: none; }

#pitchbox-reveal.reveal.solarized blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

#pitchbox-reveal.reveal.solarized blockquote p:first-child, #pitchbox-reveal.reveal.solarized blockquote p:last-child {
  display: inline-block; }

#pitchbox-reveal.reveal.solarized q {
  font-style: italic; }

#pitchbox-reveal.reveal.solarized pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

#pitchbox-reveal.reveal.solarized code {
  font-family: monospace; }

#pitchbox-reveal.reveal.solarized pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }

#pitchbox-reveal.reveal.solarized table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

#pitchbox-reveal.reveal.solarized table th {
  font-weight: bold; }

#pitchbox-reveal.reveal.solarized table th, #pitchbox-reveal.reveal.solarized table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

#pitchbox-reveal.reveal.solarized table th[align="center"], #pitchbox-reveal.reveal.solarized table td[align="center"] {
  text-align: center; }

#pitchbox-reveal.reveal.solarized table th[align="right"], #pitchbox-reveal.reveal.solarized table td[align="right"] {
  text-align: right; }

#pitchbox-reveal.reveal.solarized table tr:last-child td {
  border-bottom: none; }

#pitchbox-reveal.reveal.solarized sup {
  vertical-align: super; }

#pitchbox-reveal.reveal.solarized sub {
  vertical-align: sub; }

#pitchbox-reveal.reveal.solarized small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

#pitchbox-reveal.reveal.solarized small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
#pitchbox-reveal.reveal.solarized a {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

#pitchbox-reveal.reveal.solarized a:hover {
  color: #78bae6;
  text-shadow: none;
  border: none; }

#pitchbox-reveal.reveal.solarized .roll span:after {
  color: #fff;
  background: #1a6291; }

/*********************************************
 * IMAGES
 *********************************************/
#pitchbox-reveal.reveal.solarized section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #657b83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

#pitchbox-reveal.reveal.solarized a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

#pitchbox-reveal.reveal.solarized a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
#pitchbox-reveal.reveal.solarized .controls div.navigate-left, #pitchbox-reveal.reveal.solarized .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

#pitchbox-reveal.reveal.solarized .controls div.navigate-right, #pitchbox-reveal.reveal.solarized .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

#pitchbox-reveal.reveal.solarized .controls div.navigate-up, #pitchbox-reveal.reveal.solarized .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

#pitchbox-reveal.reveal.solarized .controls div.navigate-down, #pitchbox-reveal.reveal.solarized .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

#pitchbox-reveal.reveal.solarized .controls div.navigate-left.enabled:hover {
  border-right-color: #78bae6; }

#pitchbox-reveal.reveal.solarized .controls div.navigate-right.enabled:hover {
  border-left-color: #78bae6; }

#pitchbox-reveal.reveal.solarized .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78bae6; }

#pitchbox-reveal.reveal.solarized .controls div.navigate-down.enabled:hover {
  border-top-color: #78bae6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
#pitchbox-reveal.reveal.solarized .progress {
  background: rgba(0, 0, 0, 0.2); }

#pitchbox-reveal.reveal.solarized .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
#pitchbox-reveal.reveal.solarized .slide-number {
  color: #268bd2; }
